@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F4DFC0, #F18274);
}

main{
    background-color: white;
    box-shadow: 10px 10px 15px #8b4c43b4;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #D83F37;
    text-shadow: 1px 1px 2px #5a1915cc;
    text-align: center;
}

h2{
    color: #F2B53B;
    text-align: center;
}

p{
    text-align: justify;
}